*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.name{
  flex: 1;
  cursor: pointer;
}
.work{
  padding: 15px;
  cursor: pointer;
}

.info{
  color: #A8A8A8;
  cursor: pointer;
}

@media all and (max-width: 500px){
.bar{
  flex-wrap: wrap;
}

.name{
  order: 0 !important;
}

.work{
  order: 1 !important;
  width: 100%;
}

.profile{
  order: 2 !important;
  width: 100%;
}
}

.outerContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.doubleImage{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.first{
  flex: 1;
  max-width: 50%;

}
.second{
  flex: 1;
  max-width: 50%;
}

.singleImage{
  flex: 1;
  max-width: 100%;
  min-width: 50%;
}

img{
  opacity: 0.5;
  filter:alpha(opacity=40);
  margin: 5px;
}
img:hover {
  opacity: 1.0;
  filter:alpha(opacity=100);
}
